@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

body {
  font-family: arial;
  font-size: 18px;
  background-color: #1d2d50;
}

h1 {
  margin-top: 10px;
  font-family: 'Grand Hotel', cursive;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px rgba(255,255,255,.3);
  font-style: italic;
}

.cim {
  display: block;
  text-align: center;
  margin-top: -60px;
  margin-bottom: 20px;
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.3);
  font-size: 10px;
}

.container {
  background-color: #133b5c;
  color: white;
  text-align: center;
  width: 80%;
  margin: 15px auto 250px auto;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 4px 4px 8px rgba()
}

.container h3{
    text-align: center;
    text-decoration: underline;
    margin: 23px 0 0 0;
}

.container .eladasi-ar-mezo {
  background-color: #1e5f74;
  border: 2px solid white;
  border-radius: 12px;
  box-shadow: 0 0 18px rgba(0,0,0,.8);
  padding: 8px;
  font-size: 20px;
  text-align: center;
  width: 90%;
  height: 45px;
  margin: 4px auto;
}
.container .input-field{
  width: 90%;
  margin: 6px auto;
  display: flex;
  justify-content: center;
}
.container .radio-group{
  width: 45%;
}
.container .radio-group input{
  width: 45%;
}

.container .input-field .termek-ar{
  background-color: #fcdab7;
  text-align: center;
  width: 100%;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  padding: 8px;
}
.container .input-field .markup{
  width: 20px;
  cursor: pointer;
}
.container .input-field label{
  cursor: pointer;
}

.container .btnDIV {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.container .btnDIV button {
  font-size: 15px;
  font-weight: bold;
  width: 31%;
  padding: 6px 0;
  background-color: #FED9B7;
  color: #6f120b;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 3px 4px rgba(111, 18, 11, 0.3)
}
.container .btnDIV .haszonkulcs {
  display: block;
  font-size: 15px;
  font-weight: bold;
  width: 97.6%;
  padding: 6px 0;
  background-color: #FED9B7;
  color: #6f120b;
  border: none;
  border-radius: 7px;
  box-shadow: 3px 3px 4px rgba(111, 18, 11, 0.3)
}

.container .btnDIV button:hover {
  background-color: #fbbfa3;
  box-shadow: 3px 3px 4px rgba(111, 18, 11, 0.7)
}

.container .help-text {
  margin: 5px;
}

.error {
  color: #F0B49B;
}

span {
  font-size: 14px;
}